# This is an example of an environment file for docker compose. 
#
# Use '#' to comment out any variables that do not need to be 
# changed from default.
#
# Environment variables should have no quotes around it, and
# should follow the data type next to it (e.g. String)

# Time Zone
# See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# for a complete list of timezones.
TZ=America/Los_Angeles

# Credentials
DISCORD_TOKEN=                      # String. Token of discord bot
G_PROJECT_ID=                       # String. Google project ID
G_PRIVATE_KEY_ID=                   # String. Google private key ID
G_PRIVATE_KEY=                      # String. Google private key
G_CLIENT_EMAIL=                     # String. Google client email
G_CLIENT_ID=                        # String. Google client id
G_CLIENT_X509_CERT_URL=             # String. Google cert url

# Settings
COMMAND_PREFIX=                     # String. Prefix of bot commands
DEBUG_MODE=                         # Boolean. Enables debug mode
SPREADSHEET_ID=                     # String. ID of spreadsheet
PIXELS_PER_M=                       # Integer. Pixels per meter
STAMINA_USE_RATE=                   # Float. Stamina use rate
HEATED_SLOWDOWN_RATE=               # Float. Heated slowdown rate
AUTOSAVE_INTERVAL=                  # Integer. Autosave interaval, in minutes
DICE_MIN=                           # Integer. Minimum value for dice
DICE_MAX=                           # Integer. Maximum value for dice
DEFAULT_DROP_OBJECT=                # String. Default drop object
DEFAULT_ROOM_ICON_URL=              # String. Default URL for room icon
AUTODELETE_WHISPER_CHANNELS=        # Boolean. Enables autodeletion of whisper channels
ONLINE_ACTIVITY_TYPE=               # String. Online activity type, e.g. Listening
ONLINE_ACTIVITY_STRING=             # String. Online activity string.
DEBUG_MODE_TYPE=                    # String. Debug mode activity type
DEBUG_MODE_STRING=                  # String. Debug mode activity string
IN_PROGRESS_TYPE=                   # String. In progress activity type
IN_PROGRESS_STRING=                 # String. In progress activity string

# Player Defaults
DEFAULT_STR=                        # Integer. Default strength stat
DEFAULT_INT=                        # Integer. Default intelligence stat
DEFAULT_DEX=                        # Integer. Default dexterity stat
DEFAULT_STM=                        # Integer. Default stamina stat
DEFAULT_LOCATION=                   # String. Default location
DEFAULT_STATUS_EFFECTS=             # String. Default status effects, separated by commas
DEFAULT_INVENTORY=                  # JSON Array. Default inventory. Enclose with single quotes e.g. '["Item1", "Item2"]'
DEFAULT_DESCRIPTION=                # String. Default room description
