name: Docker Image CI

on: [pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --tag "alter-ego:$(date +%s)"

  docker-compose:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Copy .env file
      run: cp .env.example .env
    - name: Build the Docker image
      run: docker-compose build